#### EXPLORATORY DATA ANALYSIS - PUBLIC TRANSPORTATION IN CURITIBA

In [1]:
%load_ext version_information
%version_information networkx, cypher, pandas, matplotlib

Software versions
Python 3.7.1 64bit [GCC 7.3.0]
IPython 7.2.0
OS Linux 4.18.0 17 generic x86_64 with debian buster sid
networkx 2.2
cypher The 'cypher' distribution was not found and is required by the application
pandas 0.23.4
matplotlib 3.0.2
Sun Apr 07 11:11:59 2019 -03

In [2]:
%load_ext cypher

In [31]:
#%config CypherMagic

In [75]:
myneo4j = 'http://neo4j:neo4j2018@localhost:7474/db/data/'

#### **1.** how many bus lines share the same edge (between bus stops)?

In [239]:
results_question_1 = %cypher http://neo4j:neo4j2018@localhost:7474/db/data/ Match (bs: BusStop)-[r:NEXT_STOP]->(bs1 :BusStop) \
where r.line_code in ['670','671','673','674','701','703','706','760','761','762','776','777','778'] \
return distinct bs.name as start_point,r.line_code as line,bs1.name as target_point order by bs.name,bs1.name

833 rows affected.

In [247]:
question_1_df = results_question_1.get_dataframe().head()

In [248]:
question_1_df.head()

                         start_point line                    target_point
0  Av. Agua Verde, 2148 - Agua Verde  670  Rua Bororos, 193 - Vila Izabel
1  Av. Agua Verde, 2148 - Agua Verde  762  Rua Tamoios, 222 - Vila Izabel
2        Av. Iguacu, 1184 - Reboucas  778     Av. Iguacu, 1438 - Reboucas
3        Av. Iguacu, 1184 - Reboucas  777     Av. Iguacu, 1438 - Reboucas
4        Av. Iguacu, 1184 - Reboucas  776     Av. Iguacu, 1438 - Reboucas

In [243]:
question_1_df.to_csv('results_question_1.csv',index=False)

#### **2.** how many bus lines share the same stop?

##### **row by row**

In [251]:
results_question_2 = %cypher http://neo4j:neo4j2018@localhost:7474/db/data/ match (bs:BusStop)-[r:NEXT_STOP]->(bs1:BusStop) \
where r.line_code in ['670','671','673','674','701','703','706','760','761','762','776','777','778'] \
with bs match(bstop:BusStop {name:bs.name})-[r:NEXT_STOP]-() return distinct bstop.name,  r.line_code

1290 rows affected.

In [252]:
question_2_df = results_question_2.get_dataframe()

In [253]:
question_2_df.head()

                                          bstop.name r.line_code
0  Rua Jose Benedito Cotolengo, 1158 - Campo Comp...         828
1  Rua Jose Benedito Cotolengo, 1158 - Campo Comp...         778
2  Rua Jose Benedito Cotolengo, 1158 - Campo Comp...         776
3   Rua Desembargador Lauro Sodre Lopes, 33 - Port?o         670
4                 Rua Amadeu do Amaral, 513 - Port?o         706

In [255]:
question_2_df.to_csv('results_question_2a.csv',index=False)

##### **grouped**

In [267]:
results_question_2b = %cypher http://neo4j:neo4j2018@localhost:7474/db/data/  Match (bs: BusStop)-[r:NEXT_STOP]->(bs1 :BusStop) \
where r.line_code in ['670','671','673','674','701','703','706','760','761','762','776','777','778'] \
with bs \
match(bstop: BusStop {name:bs.name})-[r:NEXT_STOP]-() return bstop.name as bus_point, count(distinct r.line_code) as number_of_lines \
order by number_of_lines desc

373 rows affected.

In [268]:
question_2_dfb = results_question_2b.get_dataframe()

In [269]:
question_2_dfb.head()

                                      bus_point  number_of_lines
0              Rua Alferes Poli, 400 - Reboucas               27
1              Rua Alferes Poli, 787 - Reboucas               26
2  Rua Vinte e Quatro de Maio, 280-350 - Centro               18
3              R. Des. Westphalen, 922 - Centro               16
4                 Av. Iguacu, 1788 - Agua Verde               15

In [270]:
question_2_dfb.to_csv('results_question_2b.csv',index=False)

#### **3.** how long is each bus line?

##### **row by row**

In [291]:
result_question_3 = %cypher http://neo4j:neo4j2018@localhost:7474/db/data/  Match (bs:BusStop)-[r:NEXT_STOP]->(bs1 :BusStop) \
where r.line_code in ['670','671','673','674','701','703','706','760','761','762','776','777','778'] \
with  r.line_code as line_code, r.line_name as line_name \
            ,bs.name as name_point_a \
            , point({latitude:toFloat(bs.latitude), longitude:toFloat(bs.longitude)}) as pointA , \
            bs1.name as name_point_b \
            ,point({latitude:toFloat(bs1.latitude),longitude:toFloat(bs1.longitude)}) as pointB \
return distinct line_code,line_name,name_point_a,distance(pointA,pointB) as distance_meters,name_point_b order by line_code,name_point_a

833 rows affected.

In [292]:
question_3_df = result_question_3.get_dataframe()

In [293]:
question_3_df.head()

,line_code,line_name,name_point_a,distance_meters,name_point_b
0,670,S?O JORGE,"Av. Agua Verde, 2148 - Agua Verde",237.944264,"Rua Bororos, 193 - Vila Izabel"
1,670,S?O JORGE,"Av. Iguacu, 1184 - Reboucas",333.319920,"Av. Iguacu, 1438 - Reboucas"
2,670,S?O JORGE,"Av. Iguacu, 1438 - Reboucas",350.558250,"Av. Iguacu, 1788 - Agua Verde"
3,670,S?O JORGE,"Av. Iguacu, 1788 - Agua Verde",290.371448,"Av. Iguacu, 2083 - Agua Verde"
4,670,S?O JORGE,"Av. Iguacu, 2083 - Agua Verde",350.492252,"Av. Iguacu, 2436 - Agua Verde"

In [294]:
question_3_df.to_csv('results_question_3.csv',index=False)

##### **grouped**

In [295]:
result_question_3b = %cypher http://neo4j:neo4j2018@localhost:7474/db/data/  Match (bs: BusStop)-[r:NEXT_STOP]->(bs1 :BusStop) \
where r.line_code in ['670','671','673','674','701','703','706','760','761','762','776','777','778'] \
with distinct r.line_code as line_code, r.line_name as line_name\
            ,bs.name as name_point_a \
            ,point({latitude:toFloat(bs.latitude), longitude:toFloat(bs.longitude)}) as pointA  \
            ,bs1.name as name_point_b \
            ,point({latitude:toFloat(bs1.latitude),longitude:toFloat(bs1.longitude)}) as pointB \
return line_code,line_name,sum(distance(pointA,pointB)/1000) as km order by line_code

13 rows affected.

In [296]:
question_3_dfb = result_question_3b.get_dataframe()

In [297]:
question_3_dfb.head(13)

   line_code         line_name         km
0        670         S?O JORGE  17.097105
1        671            PORT?O  16.484398
2        673           FORMOSA  18.175241
3        674  NSA. SRA. DA LUZ  23.587371
4        701        FAZENDINHA  17.075930
5        703             CAIUA  27.583307
6        706  CAIUA/FAZ/CENTRO  25.427070
7        760     STA. QUITERIA  13.300431
8        761         V. IZABEL  17.602145
9        762        V. ROSINHA  16.888046
10       776     CARMELA DUTRA  23.752241
11       777          V. VELHA  16.617252
12       778         COTOLENGO  20.924840

In [298]:
question_3_dfb.to_csv('results_question_3b.csv',index=False)

#### **4.** how many bus lines and stops are found in a particular area (let's say in 3km radius)?

##### **fixing a bus point**

In [301]:
result_question_4 = %cypher http://neo4j:neo4j2018@localhost:7474/db/data/ MATCH (poi: BusStop{name:'Av. Agua Verde, 2148 - Agua Verde'}),(p: BusStop)-[r:NEXT_STOP]->() \
WHERE  2 * 6371 * asin(sqrt(haversin(radians(toFloat(poi.latitude) - toFloat(p.latitude)))+ cos(radians(toFloat(poi.latitude))) \
                            * cos(radians(toFloat(p.latitude)))* haversin(radians(toFloat(poi.longitude) - toFloat(p.longitude))))) <= 0.5 \
RETURN distinct  r.line_code \
,poi.name      as poit_of_interest \
,poi.latitude   \
,poi.longitude  \
,p.name        as point_inside_radius \
,p.latitude   \
,p.longitude  \
,round((2 * 6371 * asin(sqrt(haversin(radians(toFloat(poi.latitude) - toFloat(p.latitude)))+ cos(radians(toFloat(poi.latitude))) \
                             * cos(radians(toFloat(p.latitude)))* haversin(radians(toFloat(poi.longitude) - toFloat(p.longitude))))))*100)/100 as distance

96 rows affected.

In [302]:
question_4_df = result_question_4.get_dataframe()

In [303]:
question_4_df.head()

,r.line_code,poit_of_interest,poi.latitude,poi.longitude,point_inside_radius,p.latitude,p.longitude,distance
0,603,"Av. Agua Verde, 2148 - Agua Verde",-25.453944809765,-49.292434633917,Estac?o Tubo Petit Carneiro,-25.452294327996,-49.287844382803,0.50
1,203,"Av. Agua Verde, 2148 - Agua Verde",-25.453944809765,-49.292434633917,Estac?o Tubo Petit Carneiro,-25.452294327996,-49.287844382803,0.50
2,202,"Av. Agua Verde, 2148 - Agua Verde",-25.453944809765,-49.292434633917,Estac?o Tubo Petit Carneiro,-25.452294327996,-49.287844382803,0.50
3,789,"Av. Agua Verde, 2148 - Agua Verde",-25.453944809765,-49.292434633917,"Av. Pres. Getulio Vargas, 3047 - Agua Verde",-25.45146710446,-49.288747937626,0.46
4,788,"Av. Agua Verde, 2148 - Agua Verde",-25.453944809765,-49.292434633917,"Av. Pres. Getulio Vargas, 3047 - Agua Verde",-25.45146710446,-49.288747937626,0.46

In [305]:
question_4_df.to_csv('results_question_4.csv',index=False)

##### **using random point as lat, lon**

In [135]:
##"latitude -25.453944809765" longitude"-49.292434633917"

In [318]:
result_question_4b = %cypher http://neo4j:neo4j2018@localhost:7474/db/data/ MATCH (p: BusStop)-[r:NEXT_STOP]-() \
WHERE  2 * 6371 * asin(sqrt(haversin(radians(-25.453944809765 - toFloat(p.latitude))) \
                            + cos(radians(-25.453944809765))* cos(radians(toFloat(p.latitude)))* haversin(radians(-49.292434633917 - toFloat(p.longitude))))) <= 0.5 \
RETURN distinct  r.line_code \
,-25.453944809765 as latitude \
,-49.292434633917 as longitude \
,p.name          as point_inside_radius \
,p.latitude      as poi_latitude \
,p.longitude     as poi_longitude \
,round((2 * 6371 * asin(sqrt(haversin(radians(-25.453944809765 - toFloat(p.latitude))) \
                             + cos(radians(-25.453944809765))* cos(radians(toFloat(p.latitude)))* haversin(radians(-49.292434633917 - toFloat(p.longitude))))))*100)/100 as distance

96 rows affected.

In [319]:
question_4_dfb = result_question_4b.get_dataframe()

In [320]:
question_4_dfb.head()

,r.line_code,latitude,longitude,point_inside_radius,poi_latitude,poi_longitude,distance
0,603,-25.453945,-49.292435,Estac?o Tubo Petit Carneiro,-25.452294327996,-49.287844382803,0.50
1,203,-25.453945,-49.292435,Estac?o Tubo Petit Carneiro,-25.452294327996,-49.287844382803,0.50
2,202,-25.453945,-49.292435,Estac?o Tubo Petit Carneiro,-25.452294327996,-49.287844382803,0.50
3,789,-25.453945,-49.292435,"Av. Pres. Getulio Vargas, 3047 - Agua Verde",-25.45146710446,-49.288747937626,0.46
4,788,-25.453945,-49.292435,"Av. Pres. Getulio Vargas, 3047 - Agua Verde",-25.45146710446,-49.288747937626,0.46

In [321]:
question_4_dfb.to_csv('results_question_4b.csv',index=False)